*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    background-color: silver;
}
.container{
    margin: auto;
   max-width: 100%;
    min-height:100vh;
    background-image:url("./assets/img2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:1;
    color: white;
    font-weight: bold;
    
}
.navbar{
    padding-left: 100px;
    padding-right: 100px;
    background-color: silver;
    color: white;
    
    
}
ol{
    display: flex;
    text-decoration: none;
    padding: 8px;
    float: right;
}
li{
    padding: 8px;
    display: inline;
    cursor: pointer;
    text-decoration: none;
    color: white;
    opacity: 1;
}
li,a{
    color:white;
    text-decoration: none;

}
a:hover{
    color:red;
}
.wellcome-tour{
    text-align: center;
    padding: 200px;
    font-weight: bolder;
}
.wellcome-tour:hover{
    cursor: pointer;
    color:red;
}
.div-center{
    padding: 80px;
}
.div1{
    float: left;
    border:none;
    padding:15px,30px;
}
.div2{
    float: right;
}
.div3{
    justify-content: center;
    display: flex;
    
}
input{
    padding: 15px;
    border-radius: 5px;
}
.body-center{
    padding-left: 100px;
    padding-right: 100px;
}
.intertaiment{
    text-align: center;
    color:blue;
}
.signin{
    color: white;
    border: none;
    padding: 5px;
    background-color:green;
    cursor: pointer;
    
}
.signin:hover{
    color: coral;
}
.gategories{
    width: 100%;
    height: 200px;
    background-color: silver;
}
.card1{
    width: 20%;
    height: 200px;
    display: flex;
    float: left;
    background-color: rebeccapurple;
}
.card2{
    width: 20%;
    display: flex;
    float: left;
    height: 200px;
    background-color:rebeccapurple;
}
.card3{
    width: 20%;
    height: 200px;
    display: flex;
    float: left;
    background-color:rebeccapurple;
}
.card4{
    width: 20%;
    height: 200px;
    display: flex;
    float: left;
    background-color:rebeccapurple;
}
.pcs{
    width: 5%;
    height: 200px;
    display: flex;
    float: left;
}
.pcs1{
    width: 2.5%;
    height: 200px;
    display: flex;
    float: left;
}
img{
    width: 100%;
    cursor: pointer;
}
img:hover{
    border-bottom: aqua;
}

